{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard Enseignant</h1>
<ul>
  <li><a href="{{ url_for('admin_promotions.list_promotions') }}">➡️ Gérer les promotions</a></li>
  <li><a href="{{ url_for('teacher.list_admins') }}">📋 Voir les enseignants</a></li>
</ul>

<h3>➕ Ajouter un enseignant</h3>
<form method="post" action="{{ url_for('teacher.add_admin') }}">
  <input name="email" type="email" placeholder="E-mail" required>
  <input name="name" placeholder="Nom complet" required>
  <button type="submit">Ajouter</button>
  </form>

{% endblock %}
